{% extends 'base.html.twig' %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <nav>
        <ul>
            <li><a href="#kmom01">Kursmoment 1</a></li>
            <li><a href="#kmom02">Kursmoment 2</a></li>
            <li><a href="#kmom03">Kursmoment 3</a></li>
            <li><a href="#kmom04">Kursmoment 4</a></li>
            <li><a href="#kmom05">Kursmoment 5</a></li>
            <li><a href="#kmom06">Kursmoment 6</a></li>
            <li><a href="#kmom07">Kursmoment 7</a></li>
            <li><a href="#kmom10">Kursmoment 10</a></li>
        </ul>
    </nav>

    <article id="kmom01">
        <h2>Kursmoment 1</h2>
        <p>Mina kunskaper inför denna kurs är magra men jag trivs i miljön ändå och har lätt för att lära mig!
        Kunkaperna kommer från tidigare kurser i utbildningen.
        PHPs sätt att använda klasser och objekt handlar om att skapa mallar för objekt som innehåller egenskaper och funktioner.
        Man använder nyckelordet "class" för att definiera klassen. 
        För att komma igång med att skapa klasser behöver man förstå grundläggande 
        syntax.

        Koden för uppgiften me/report var lätttolkad och strukturerad. 
        Förvånansvärt lätt att förstå.

        Artikeln "PHP The Right Way" täcker många områden inom PHP-utveckling,
         som exempelvis säkerhet, prestanda samt kodstandarder mm.
          En av de mest värdefulla delarna är kapitlet om designmönster, där man får 
          lära sig om väldigt värdefulla strukturer inom objektorienterad 
          programmering. Jag skulle gärna vilja lära mig mer om hur man kan
         skapa skalbara system.

         Min TIL är att jag måste lita på mig själv mer, ibland är det inte jag som har gjort fel utan det kan vara 
         så att det helt enkelt är en cache som måste resettas eller liknande.
        
        </p>
    </article>

    <article id="kmom02">
        <h2>Kursmoment 2</h2>
        <p>Här är min redovisningstext för kursmoment 2.</p>
    </article>

    <article id="kmom03">
        <h2>Kursmoment 3</h2>
        <p>Här är min redovisningstext för kursmoment 3.</p>
    </article>

    <article id="kmom04">
        <h2>Kursmoment 4</h2>
        <p>Här är min redovisningstext för kursmoment 4.</p>
    </article>

    <article id="kmom05">
        <h2>Kursmoment 5</h2>
        <p>Här är min redovisningstext för kursmoment 5.</p>
    </article>

    <article id="kmom06">
        <h2>Kursmoment 6</h2>
        <p>Här är min redovisningstext för kursmoment 6.</p>
    </article>

    <article id="kmom07">
        <h2>Kursmoment 7</h2>
        <p>Här är min redovisningstext för kursmoment 7.</p>
    </article>

    <article id="kmom10">
        <h2>Kursmoment 10</h2>
        <p>Här är min redovisningstext för kursmoment 10.</p>
    </article>

{% endblock %}